* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.gallery {
    background: #111;
}

.gallery-cell {
    width: 66%;
    height: 500px;
    padding: 20px;
    margin-right: 10px;
    background: rgb(138, 43, 226);
    counter-increment: gallery-cell;
    border-radius: 15px;
}

.image-size {
    width: 415px;
    height: 296px;
    margin-right: auto;
    padding-bottom: 10px;
    background: rgb(138, 43, 226);
    border-radius: 10px;
    counter-increment: gallery-cell;
}

@media (max-width: 1200px) {}

@media (max-width: 768px) {
    .image-size {
        width: 300px;
        height: 200px;
        margin-right: auto;
        background: rgb(138, 43, 226);
        counter-increment: gallery-cell;
    }

    div h1 {
        font-size: 1.5rem;
    }

    div h3 {
        font-size: 1.2rem;
    }

    .gallery-cell {
        width: 66%;
        height: 375px;
        padding: auto;
        margin-right: 10px;
        background: rgb(138, 43, 226);
        counter-increment: gallery-cell;
        border-radius: 15px;
    }
}

@media (max-width: 520px) {
    .image-size {
        width: 160px;
        height: 160px;
        margin-right: auto;
        background: rgb(138, 43, 226);
        counter-increment: gallery-cell;
    }

    div h1 {
        font-size: 1.5rem;
    }

    div h3 {
        font-size: 1rem;
    }

    div p {
        font-size: 0.8rem;
    }


    .gallery-cell {
        width: 66%;
        height: 370px;
        padding: 20px;
        margin-right: 10px;
        background: rgb(138, 43, 226);
        counter-increment: gallery-cell;
        border-radius: 15px;
    }
}


.card-link:hover {
    color: #000;

    text-decoration: underline;

}

.card-link {
    font-size: 1.5em;
    color: #fff;
    text-decoration: underline dashed;

}

.card-link:active {
    color: #000;
}

.center-top {
    padding: 50px 0;
}